
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">Register</a>
        </li>
      
      </ul>
    </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">News Scrapping</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacingdf;hadjkfhkj to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/user/login" role="button">Login In</a>       
</div>

 {{#each data}}
   <div class="container">       
       
<div class="card text-center" id="{{_id}}">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body" >
  <h5 class="card-title" ><a target="_blank" href="https://www.newyorker.com/{{URL}}">{{Headline}}</a></h5>
  <p class="card-text"  >{{Summary}}</p>
    <a href="/user/home" class="btn btn-primary">Save Article</a>
  </div>
  <div class="card-footer text-muted">
    

  </div>
</div>
</div>
 {{/each}}