body{
  /* background: rgb(240,243,248); */


}
div .card .card-body{

  /* background: rgb(240,243,248); */
}
.container{
  /* background: rgb(240,243,248); */
}
*{
  font-family: 'Arvo', serif;
  
}
div .card{
  border: none;
  /* background: rgb(240,243,248); */
}
a{
  color: black;
}
.card-title a{
  font-size: 2rem;
}
form{
  width:15rem;
}
#jumbo{
  background-image: url('../images/news.jpg');
  height:25rem;
  /* border-bottom: white solid .5rem; */
}
#nav li  a{
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
#nav{
  background: #5b8c85;
}
#home-login-btn{
  background-color: #C81914;

}
#save-btn{
  background-color: white;
}
#save-btn:hover{
  background: darkgrey;
}
.login-form{
  margin: auto;
  width: 20rem;
  /* height: 20rem; */
  padding-top: 20rem;
  margin-top: 12rem;

}

@media only screen and (min-width: 768px) and (max-width: 840px){
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px){
  .grid-container {
    display: grid;
    grid-template-columns: auto  ;
  }
}
